@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: hwb(240 97% 0%);
  --primary-100: hwb(262 93% 0%);
  --primary-200: hwb(262 89% 0%);
  --primary-300: hwb(254 75% 0%);
  --primary-400: hwb(254 56% 0%);
  --primary-500: hwb(252 44% 0%);
  --primary-600: hwb(251 34% 8%);
  --primary-700: hwb(251 26% 10%);
  --primary-800: hwb(253 23% 40%);
  --primary-900: hwb(249 19% 71%);

  --secondary-50: hwb(158 97% 0%);
  --secondary-100: hwb(150 93% 0%);
  --secondary-200: hwb(150 89% 0%);
  --secondary-300: hwb(150 75% 0%);
  --secondary-400: hwb(158 54% 0%);
  --secondary-500: hwb(158 44% 0%);
  --secondary-600: hwb(158 34% 8%);
  --secondary-700: hwb(158 26% 10%);
  --secondary-800: hwb(158 23% 40%);
  --secondary-900: hwb(156 19% 71%);
}

body {
  margin: 2em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.review {
  background-color: var(--primary-50);
  border: 1px solid var(--primary-100);
  border-radius: 4px;
}

.star {
  color: var(--primary-100);
}
.star.marked {
  color: var(--primary-700);
}
.star.hovered {
  color: var(--primary-400);
}

input,
textarea {
  background-color: var(--primary-50);
  border: 1px solid var(--primary-100);
  border-radius: 4px;
}
input[type='submit'] {
  background-color: var(--primary-600);
}
input[type='submit']:enabled:hover {
  background-color: var(--primary-700);
}
input[type='submit']:enabled:active {
  background-color: var(--primary-800);
}
input:focus,
textarea:focus {
  border: 1px solid var(--secondary-500);
  outline: 1px solid var(--secondary-500);
}
